@model IEnumerable<BTVN5.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="main-body" style="display:grid;grid-template-columns:20% 80%;">
    <div class="left_side">
        <h1>Chủ đề</h1>
        <ul>
            <a class="text-decoration" asp-action="" asp-route-id="">
            <li>Cuộc sống</li></a>
            <a class="text-decoration" asp-action="" asp-route-id="">
            <li>Sức khỏe</li></a>
            <a class="text-decoration" asp-action="" asp-route-id="">
            <li>Lập trình</li></a>
        </ul>
    </div>
    <div class="content">
        <p>
            <a asp-action="Create" class="text-decoration"><h3>Thêm mới</h3></a>
        </p>
        <div class="container mt-4">
            <div class="col-md-12">
                <div class="row row-cols-1 row-cols-md-4 g-5">
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="card" style="width: 16rem;padding:0">
                                <div class="card-header" style="display: flex; flex-direction: row ; justify-content: space-between;">
                                    <h5>@item.Title</h5>
                                    <a asp-action="Edit" asp-route-id="@item.Id" >Sửa</a>
                                </div>
                                <div class="card-body">
                                    <p><strong>Tác giả :</strong> @item.Author</p>
                                    <p><strong>Thể loại:</strong> @item.CategpryId</p>
                                    <img src="@item.Image" class="card-img-bottom" alt="@item.Image">
                                </div>
                                <div class="card-footer" style="display: flex; flex-direction: row ; justify-content: end;">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Chi tiết</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="margin-left: 10px;">Xóa</a>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
