@model IEnumerable<BTVN5.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<div class="main-body" style="display:grid;grid-template-columns:20% 80%;">
    <div class="left_side">
        <h1>Chủ đề</h1>
        <ul>
            <a class="text-decoration" asp-action="" asp-route-id="">
            <li>Cuộc sống</li></a>
            <a class="text-decoration" asp-action="" asp-route-id="">
            <li>Sức khỏe</li></a>
            <a class="text-decoration" asp-action="" asp-route-id="">
            <li>Lập trình</li></a>
        </ul>
    </div>
    <div class="content">
        <p>
            <a asp-action="Create" class="text-decoration"><h3>Thêm mới</h3></a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categpry)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categpry.CategortName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
